{% extends '../partials/base.html' %}

<div>
  {% block title%}Gerenciamento de Temas{% endblock %}
</div>

{% block content %}
<section>
  {% include "../partials/menu.html" with categories=categories %}
</section>
<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1>Minhas Categorias</h1>
      <div class="fixed-action-btn">
        <a
          class="btn-floating btn-large btn waves-effect waves-light"
          href="{% url 'subject_create' %}"
        >
          <i class="material-icons">add</i>
        </a>
      </div>

      {% if categories|length > 0%}
      <div class="card">
        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
              </tr>
            </thead>

            <tbody>
              {% for item in categories %}
              <tr>
                <td>
                  <form method="POST" action="{% url 'subject_delete' %}">
                    {% csrf_token %}
                    <input
                      type="hidden"
                      name="subject_id"
                      value="{{item.id}}"
                    />
                    <button
                      class="waves-effect waves-light btn red darken-3"
                      type="submit"
                    >
                      <i class="material-icons left">block</i>Excluir
                    </button>
                  </form>
                </td>
                <td>{{item.name}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% else %} {% include 'subject/noresults.html' %} {% endif %}
  </div>
</div>
{% endblock %}
