{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/materialize.min.css' %}"
      media="screen,projection"
    />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Título -->
    <title>Search News</title>

    <!-- Favicon -->

    <!-- Stylesheet -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/site.css' %}"
      media="screen,projection"
    />
  </head>

  <body>
    {% block content %}{% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/materialize.min.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
  </body>
</html>
