{% extends 'partials/base.html' %} {% load static %}
<div>
  {% block style %}full-height{% endblock %} {% block title %}Search News |
  Login {% endblock %}
</div>
{% block content %}
<div class="container">
  <div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <h1 class="center-align login-title">
        <img src="{% static 'imgs/logo.png' %}" alt="Search News" />
      </h1>
      <form method="POST">
        {% csrf_token %}
        <div class="input-field col s12">
          {{ form.as_p }}
        </div>

        <button class="btn waves-effect waves-light login-button" type="submit">
          Entrar
        </button>
        <a
          class="btn waves-effect waves-light login-button"
          href="{% url 'register' %}"
        >
          Registre-se
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
