{% extends 'partials/base.html' %} {% block content %}

<section>
  {% include "partials/menu.html" with categories=categories %}
</section>

<div class="container">
  <h1>Marvel</h1>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="//cdn.ome.lt/u4vfDgMhw1pGosJCl39jMmFLfj4=/480x360/smart/extras/conteudos/tomhollandsonyideias.png"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Tom Holland diz que Sony tinha ideia ótima para saída do
            Homem-Aranha do MCU
          </span>
          <p>Publicado em: 25.02.2020 15H36</p>
        </div>
        <div class="card-action">
          <span class="new badge" data-badge-caption="">omelete</span>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="//cdn.ome.lt/LdC3pjy9hJNjAUUwVkWg2S_sAHE=/480x360/smart/extras/conteudos/indianajones5arraso.jpg"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Indiana Jones 5 | Harrison Ford quer que filme “arrase” como longas
            da Marvel
          </span>
          <p>Publicado em: 24.02.2020 20H34</p>
        </div>
        <div class="card-action">
          <span class="new badge" data-badge-caption="">omelete</span>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="//cdn.ome.lt/v_dvwALhV3TU7xyV8l4myOqqqFI=/480x360/smart/extras/conteudos/ms-marvel_BQjJVbD.jpg"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Ms. Marvel pode estrear em 2021 no Disney+
          </span>
          <p>Publicado em: 22.02.2020 10H56</p>
        </div>
        <div class="card-action">
          <span class="new badge" data-badge-caption="">omelete</span>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="//cdn.ome.lt/AcM-sgiE5xQyNM_fC_f1oCEdMpA=/480x360/smart/extras/conteudos/nonstopsmtt.png"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Marvel promete revista alucinante do Homem-Aranha para junho
          </span>
          <p>Publicado em: 18.02.2020 00H28</p>
        </div>
        <div class="card-action">
          <span class="new badge" data-badge-caption="">omelete</span>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="//cdn.ome.lt/ur_jceAshtkfXfRU5TatAUmqaqA=/480x360/smart/extras/conteudos/markruffalosememprego.jpg"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Mark Ruffalo brinca sobre parque temático de Marvel: “preciso de um
            emprego”
          </span>
          <p>Publicado em: 18.02.2020 00H28</p>
        </div>
        <div class="card-action">
          <span class="new badge" data-badge-caption="">omelete</span>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="//cdn.ome.lt/iCPhCAvb6j6ourSDZbJHG6rwGZA=/480x360/smart/extras/conteudos/2020-02-18-HYPER-DQ.png"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Venom 2 | Woody Harrelson enfrenta polícia em vídeo dos bastidores
          </span>
          <p>Publicado em: 18.02.2020 00H28</p>
        </div>
        <div class="card-action">
          <span class="new badge" data-badge-caption="">omelete</span>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="//s03.video.glbimg.com/x216/8054806.jpg"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Padre Fábio de Melo posta cena de filme da Marvel recriada por
            'Vingadores do Cerrado'
          </span>
          <p>Publicado em: 18.02.2020 00H28</p>
        </div>
        <div class="card-action">
          <span class="new badge" data-badge-caption="">g1</span>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="https://img.ibxk.com.br/2020/01/23/23102946227376.jpg?w=164&h=118&mode=crop&scale=both"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Capitã Marvel 2: sequência deve ter roteirista de WandaVision
          </span>
          <p>Publicado em: 18.02.2020 00H28</p>
        </div>
        <div class="card-action">
          <span class="new badge" data-badge-caption="">g1</span>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
